@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.app{
    width: 850px;
    display:flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    gap: 65px;
    text-align: left;
    padding: 50px 25px
}

.app-wrapper{
    margin: 100px auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.text {
    font-size: 1.7rem
}

input {
    width: 45%;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    padding: 10px
}

.restart-btn{
    width: 20%;
    font-family: 'Outfit', sans-serif;
    font-size: large;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}


.words-number p{
    font-size: 1.2rem;
    margin: 10px 0 0;
}

.heading h1{
    margin: 0;
    font-weight: 500;
    font-size: 2.5rem;
    color: yellow
}

.progress {
    height: 5px;
    background-color:rgb(157, 156, 156);
    width: 100%;
    position: relative;
}

.object{
    position: absolute;
    transition: left 0.3s ease-in-out;
    width: 5px;
    height: 5px;
    display: flex;
    align-items: center;
}

.object img{
    width: 80px;
    height: 40px
}


.flexbox{
    display: flex;
    justify-content: space-between;
}


